$ba-space-root:4rpx;

.ba-my-2 {
    margin-top: $ba-space-root * 2;
    margin-bottom: $ba-space-root * 2;
}

.ba-mx-2 {
    margin-left: $ba-space-root * 2;
    margin-right: $ba-space-root * 2;
}

.ba-mx-3 {
    margin-left: $ba-space-root * 3;
    margin-right: $ba-space-root * 3;
}

.ba-mx-4 {
    margin-left: $ba-space-root * 4;
    margin-right: $ba-space-root * 4;
}

.ba-mx-7 {
    margin-left: $ba-space-root * 7;
    margin-right: $ba-space-root * 7;
}


.ba-mb-2 {
    margin-bottom: $ba-space-root * 2;
}

.ba-mb-3 {
    margin-bottom: $ba-space-root * 3;
}

.ba-mb-4 {
    margin-bottom: $ba-space-root * 4;
}

.ba-mb-6 {
    margin-bottom: $ba-space-root * 6;
}

.ba-mb-10 {
    margin-bottom: $ba-space-root * 10;
}

.ba-mb-12 {
    margin-bottom: $ba-space-root * 12;
}


.ba-ml-2 {
    margin-left: $ba-space-root * 2;
}

.ba-ml-3 {
    margin-left: $ba-space-root * 3;
}

.ba-ml-4 {
    margin-left: $ba-space-root * 4;
}

.ba-ml-5 {
    margin-left: $ba-space-root * 5;
}

.ba-ml-6 {
    margin-left: $ba-space-root * 6;
}

.ba-ml-7 {
    margin-left: $ba-space-root * 7;
}

.ba-ml-8 {
    margin-left: $ba-space-root * 8;
}

.ba-ml-10 {
    margin-left: $ba-space-root * 10;
}

.ba-mt-1 {
    margin-top: $ba-space-root * 1;
}
.ba-mt-2 {
    margin-top: $ba-space-root * 2;
}

.ba-mt-3 {
    margin-top: $ba-space-root * 3;
}

.ba-mt-4 {
    margin-top: $ba-space-root * 4;
}

.ba-mt-5 {
    margin-top: $ba-space-root * 5;
}

.ba-mt-6 {
    margin-top: $ba-space-root * 6;
}

.ba-mt-7 {
    margin-top: $ba-space-root * 7;
}

.ba-mt-8 {
    margin-top: $ba-space-root * 8;
}

.ba-mt-10 {
    margin-top: $ba-space-root * 10;
}

.ba-mt-14 {
    margin-top: $ba-space-root * 14;
}
.ba-mr-3 {
    margin-right: $ba-space-root * 3;
}

.ba-mr-4 {
    margin-right: $ba-space-root * 4;
}

.ba-mr-6 {
    margin-right: $ba-space-root * 6;
}

.ba-mr-8 {
    margin-right: $ba-space-root * 8;
}

.ba-mr-14 {
    margin-right: $ba-space-root * 14;
}

.ba-pt-8 {
    padding-top: $ba-space-root * 8;
}

.ba-pb-5 {
    padding-bottom: $ba-space-root * 5;
}

.ba-pb-10 {
    padding-bottom: $ba-space-root * 10;
}


.ba-px-2 {
    padding-left: $ba-space-root * 2;
    padding-right: $ba-space-root * 2;
}

.ba-px-3 {
    padding-left: $ba-space-root * 3;
    padding-right: $ba-space-root * 3;
}

.ba-px-4 {
    padding-left: $ba-space-root * 4;
    padding-right: $ba-space-root * 4;
}

.ba-px-6 {
    padding-left: $ba-space-root * 6;
    padding-right: $ba-space-root * 6;
}

.ba-px-7 {
    padding-left: $ba-space-root * 7;
    padding-right: $ba-space-root * 7;
}

.ba-px-8 {
    padding-left: $ba-space-root * 8;
    padding-right: $ba-space-root * 8;
}

.ba-px-10 {
    padding-left: $ba-space-root * 10;
    padding-right: $ba-space-root * 10;
}

.ba-px-15 {
    padding-left: $ba-space-root * 15;
    padding-right: $ba-space-root * 15;
}

.ba-py-3 {
    padding-top: $ba-space-root * 3;
    padding-bottom: $ba-space-root * 3;
}

.ba-py-4 {
    padding-top: $ba-space-root * 4;
    padding-bottom: $ba-space-root * 4;
}

.ba-py-5 {
    padding-top: $ba-space-root * 5;
    padding-bottom: $ba-space-root * 5;
}

.ba-py-8 {
    padding-top: $ba-space-root * 8;
    padding-bottom: $ba-space-root * 8;
}

.ba-py-10 {
    padding-top: $ba-space-root * 10;
    padding-bottom: $ba-space-root * 10;
}

.ba-py-13 {
    padding-top: $ba-space-root * 13;
    padding-bottom: $ba-space-root * 13;
}

.ba-py-2 {
    padding-top: $ba-space-root * 2;
    padding-bottom: $ba-space-root * 2;
}

.ba-pa-3 {
    padding: $ba-space-root * 3;
}

.ba-pa-4 {
    padding: $ba-space-root * 4;
}


.ba-pa-5 {
    padding: $ba-space-root * 5;
}

.ba-pa-9 {
    padding: $ba-space-root * 9;
}


.ba-pa-10 {
    padding: $ba-space-root * 10;
}

.ba-pa-13 {
    padding: $ba-space-root * 13;
}


